@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

*:focus-visible {
    outline-color: #528CD1;
}

html {
    font-size: 16px;
}

.body {
    min-width: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    position: relative;
    height: 180px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.head {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 12rem;
}

.navigation {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.Enter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background: #528CD1;
    border-radius: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 3px solid #fff;
}

.Enter:hover {
    background: #2760A4;
}

.Enter:active {
    background: #FFFFFF;
    color: #528CD1;
    border: 3px solid #528CD1;
}

/* Enter menu */

.modal {
    z-index: 100;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 20px;
    overflow-y: auto;
    display: none;
}

.modal__main {
    transform: scale(1.4); /*кастыль*/
    position: relative;
    max-width: 700px;
    background-color: #fff;
    margin: auto;
    color: #000;
    border-radius: 16px;
    padding: 50px;
    cursor: default;
}

.modal__title {
    font-size: 3rem;
    margin-bottom: 15px;
}

.modal__container {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-bottom: 30px;
}

.modal__container h1 {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-left: 10px;
}

.modal__container input {
    font-size: 1.3rem;
    padding: 10px 15px;
    border: 2px solid #528CD1;
    border-radius: 5px;
    outline: none;
}


.modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
}

.modal_ftr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.modal_ftr a {
    color: black;
    font-size: 1.1rem;
}

.modal_ftr a:hover {
    text-decoration: underline;
}

.modal .bl_N2 {
    bottom: -2%;
}


/* навигация */



nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

nav a {
    color: black;
    font-size: 1.4rem;
    text-transform: uppercase;
}

nav a:hover {
    color: #528CD1;
}

nav a:hover img {
    opacity: 0.3;
}

nav a::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    padding-top: 3px;
    border-bottom: 2px solid #528CD1;
    transition: all 0.2s ease;
}

nav a:hover::after {
    transition: all 0.2s ease;
    width: 2%;
}

/* выпадающее меню */

.drop_down {
    position: absolute;
    top: 100%;
    left: 50%;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0 50px 0 50px;
    padding: 2%;
}
.drop_down a::after {
    border-bottom: 2px solid #000;
}


.drop_down li a {
    color: #555;
    font-size: 1.2rem;
}

.drop_down li a:hover {
    color: black;
}

/* Меню для адаптива */

.x_menu {
    position: absolute;
    right: 20px;
    height: 30px;
}

.burg_menu {
    display: none;
}

.dropD_nav {
    width: 40%;
    z-index: 100;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
}

.dropD_nav a {
    font-size: 2.5rem;
    color: black;
}

.dropD_nav a:active {
    color: #666;
}

.dropD_nav .about.show .about_more {
    height: 100%;
}

.about_more {
    height: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 6%;
    overflow: hidden;
}

.about_more a {
    font-size: 2rem;
}

.blocks {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.bl_N1 {
    bottom: 10%;
    right: 20%;
}

.block {
    background: #DCE8F6;
    border-radius: 100px;
    height: 1.6rem;
}

#bl1 {
    width: 183px;
}

#bl2 {
    width: 32px;
}

#bl3 {
    width: 48px;
}

main {
    width: 100%;
}

.main {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

/* Первая часть main */

.main_1 {
    background-image: url(https://avatars.mds.yandex.net/get-altay/1899727/2a0000016ae321437a315dc225d14f9f5105/XXXL);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.name {
    width: 28%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name img {
    position: absolute;
    width: 100%;
}

.name h1 {
    z-index: 10;
    font-weight: 700;
    font-size: 4rem;
    line-height: 130%;
}

.timesheet {
    position: absolute;
    right: 0;
    bottom: -20%;
    width: auto;
    z-index: 11;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    padding: 2%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.col1 {
    text-align: right;
}

.timesheet h1 {
    font-size: 2rem;
}

.timesheet p {
    font-size: 1.63rem;
}

.bl_N2 {
    width: 60%;
    flex-direction: row-reverse;
    right: 20%;
    bottom: -5%;
}

.info {
    margin-top: 30px;
    width: 80%;
}

.bl_N3 {
    top: 55px;
    left: 3%;
}

.info h1 {
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3%;
}

.slid_head {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slid_head .Event {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: #000000;
}

.view_more {
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;
}

.view_more:hover {
    text-decoration: underline;
}

.info p {
    font-size: 1.5rem;
}

.center {
    display: flex;
    justify-content: center;
    min-height: 100% !important;
}


.card {
    display: flex;
    height: 600px;
}

.card .image {
    min-height: 100%;
    min-width: 50%;
    cursor: pointer;
    overflow: hidden;
}

.N2 {
    height: 100%;
}

.card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    min-height: 100%;
    background: rgba(153, 178, 209, 0.2);
    border-radius: 0 50px 50px 0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.description h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.description p {
    font-size: 1.5rem;
}

.description span {
    font-size: 1.2rem;
}

.slider {
    margin-top: 2%;
    margin-bottom: 5%;
    position: relative;
}

.slide-container {
    width: 90%;
    margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
    color: #00000000;
}

.main_3 {
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background: #CEDBEB;
    border-radius: 100px;
    padding: 0 4rem;
}

.title h1 {
    font-weight: 700;
    text-transform: uppercase;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.list {
    margin: 25px 0;
    display: flex;
    gap: 3.2rem;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.list li:hover {
    text-decoration: underline;
}

.box_grid {
    display: grid;
    grid-gap: 1.8rem;
    grid-template-columns: repeat(4, minmax(20%, 1fr));
    grid-auto-rows: 18rem;
    grid-auto-flow: dense;
}

.box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.box .darces {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.box .darces h1 {
    text-align: center;
}


.slide_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DFE6EE;
    border-radius: 30px;
    height: 500px;
}

.block_head {
    height: 25%;
    width: 100%;
    background: #CCDDF2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.block_head img {
    border-radius: 100px;
    width: 5.5rem;
    height: 5.5rem;
    margin: 0 25px;
}

.block_name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block_name h1 {
    font-size: 1.8rem;
}

.block_name p {
    font-size: 1.4rem;
}

.slide_block p {
    margin-top: 0.625rem;
    width: 80%;
    font-size: 1.2rem;
}

.main_5 {
    margin-bottom: 200px;
}

.main_5 .title {
    margin-bottom: 20px;
}

.grid_image {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, minmax(22rem, 1fr));
    grid-auto-rows: 18rem;
    grid-auto-flow: dense;
}

.grid_image>.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

.grid_image>.image>img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
}

.grid_image .image:hover {
    z-index: 1;
    transform: scale(2);
    border-radius: 5px;
}

.bl_N4 #bl1 {
    width: 24rem;
}

.bl_N4 #bl2 {
    width: 2rem;
}

.bl_N4 #bl3 {
    width: 4rem;
}

.bl_N4 #bl4 {
    width: 9rem;
}

.bl_N4 {
    bottom: -5%;
}

footer {
    color: #BBBBBB;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, #393939 0%, #2F2F2F 53.12%, #1F1F1F 100%);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer h1 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.footer a {
    font-size: 1.4rem;
    color: #BBBBBB;
}

.line {
    width: 1px;
    height: 70%;
    background: #BBBBBB;
    border-radius: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.ftr_1 {
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    /* XXX */
}

.ftr_1 img {
    width: 15rem;
}

.ftr_2 {
    height: 70%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10%;
    /* XXX */
}

.ftr_2 ul {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* XXX */
}


.ftr_3 {
    height: 70%;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 30px;
    /* XXX */
}

.ftr_3 .col1,
.ftr_3 .col2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* XXX */
    font-size: 1.5rem;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons img {
    width: 3rem;
}


@media (max-width: 1920px) {
    .name {
        width: 38%;
    }

    nav {
        gap: 1.2rem;
    }
}


@media (max-width: 768px) {
    .burg_menu {
        display: block;
    }

    html {
        font-size: 8px;
    }

    nav,
    .line,
    .ftr_2 {
        display: none;
    }

    header {
        height: 75px;
    }

    .head {
        width: 90%;
    }

    .main {
        width: 90%;
    }

    .modal__main {
        padding: 25px;
    }

    .modal__title {
        font-size: 3rem;
        margin-bottom: 10px;
    }

    .modal__container {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        margin-bottom: 5px;
    }

    .modal__container h1 {
        margin-top: 5px;
        margin-left: 10px;
    }

    .modal__container input {
        padding: 5px 8px;
    }


    .main_1 {
        height: 200px;
    }

    .name {
        width: 48%;
    }

    .bl_N1 {
        width: 25rem;
        bottom: 20%;
        right: 30%;
    }

    .bl_N3 {
        top: 7%;
    }


    .card {
        width: 70%;
        flex-direction: column;
        max-height: 400px;
    }

    .card .image {
        min-height: 50%;
        width: 100%;
        max-height: 200px;
    }

    .description {
        height: 200px;
        padding: 2rem;
        border-radius: 0px;
    }

    .box_grid {
        grid-template-columns: repeat(3, minmax(26%, 1fr));
    }

    .content {
        width: 90%;
    }

    .slide_block {
        height: 300px;
    }

    .grid_image {
        grid-gap: 10px;
    }

    .block_head {
        height: 30%;
    }

    footer {
        height: 200px;
        padding: 0 10%;
    }

}

@media (max-width: 425px) {
    .x_menu {
        height: 20px;
    }

    .dropD_nav {
        width: 100%;
    }

    .dropD_nav a {
        font-size: 2.3rem;
    }

    .dropD_nav .about.show .about_more {
        height: 100%;
    }

    .arrow_down {
        width: 5px;
    }

    .about_more {
        gap: 3px;
    }

    .about_more a {
        font-size: 2rem;
    }

    .burg_menu img {
        width: 20px;
    }

    html {
        font-size: 5px;
    }

    .blocks {
        display: none;
    }

    .head {
        width: 90%;
    }

    .name img {
        margin-left: 20px;
        width: 140%;
    }

    .timesheet {
        bottom: -10%;
        gap: 5px;
        border-radius: 10px 0 0 10px;
        padding: 2%;
    }

    .table {
        gap: 10px;
    }

    .modal__main {
        padding: 20px;
    }

    .modal__title {
        margin-bottom: 5px;
    }

    .modal__container {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        margin-bottom: 5px;
    }

    .modal__container h1 {
        margin-top: 5px;
        margin-left: 10px;
    }

    .modal__container input {
        padding: 5px 8px;
    }

    .main_1 {
        height: 180px;
    }

    .card {
        width: 90%;
        flex-direction: column;
        max-height: 300px;
    }

    .card .image {
        width: 100%;
    }

    .description {
        padding: 2rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        transform: scale(0.6);
        color: #00000000;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, -1px);
        left: auto
    }

    .list {
        margin: 5px 0;
    }

    .box_grid {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
    }

    .content {
        width: 90%;
    }

    .slide_block {
        height: 270px;
    }

    .block_head {
        height: 23% !important;
    }

    .block_head img {
        margin: 0 10px;
    }

    .block_name h1 {
        font-size: 3rem;
    }

    .slide_block p {
        font-size: 2rem;
    }

    .grid_image {
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, minmax(22rem, 1fr));
        grid-auto-rows: auto;
        grid-auto-flow: dense;
    }

    .grid_image .image:hover {
        z-index: 1;
        transform: scale(1.2);
        border-radius: 2px;
    }

    .block_head {
        height: 30%;
    }

    footer {
        height: 200px;
        padding: 0 10%;
    }
}
